<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
         <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="hibernate.hbm2ddl.auto">none</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="use_sql_comments">true</property>
        <property name="connection.pool_size">100</property>

        <mapping class="models.general.City"/>
        <mapping class="models.order.CreditCard"/>
        <mapping class="models.shop.Cuisine"/>
        <mapping class="models.order.Donation"/>
        <mapping class="models.order.DonationCategory"/>
        <mapping class="models.shop.Food"/>
        <mapping class="models.shop.FoodPart"/>
        <mapping class="models.shop.Ingredient"/>
        <mapping class="models.shop.Menu"/>
        <mapping class="models.order.Order"/>
        <mapping class="models.order.OrderDonation"/>
        <mapping class="models.order.OrderItem"/>
        <mapping class="models.order.OrderItemIngredient"/>
        <mapping class="models.order.PaymentMethod"/>
        <mapping class="models.general.Perfecture"/>
        <mapping class="models.RatingCriteria"/>
        <mapping class="models.shop.Restaurant"/>
        <mapping class="models.users.Review"/>
        <mapping class="models.users.ReviewRating"/>
        <mapping class="models.shop.Shop"/>
        <mapping class="models.general.Suburb"/>
        <mapping class="models.users.User"/>
        <mapping class="models.users.UserAddress"/>


    </session-factory>
</hibernate-configuration>