{% extends 'base.html.twig' %}

{% block body %}

<section>
	<div class="container-fluid">
	
	<div class="alert alert-primary" role="alert">
  This is a primary alert—check it out!
</div>

		<div class="row">
			<div class="col-3">
				{% for cu in cuisines %}
					<div class="row">
						<div class="col-2">
							<p> {{ cu.name }}</p>
						</div>
					</div>
				{% endfor %}
			</div>

			<div class="col-7">
				{% for fav in favorites %}
					<div class="row">
						<div class="col-7">
							<p> {{ fav.restaurant.name }}</p>
						</div>
					</div>
				{% endfor %}
			</div>

    	</div>
	</div>
</section>
{% endblock %}

